<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

    <div class="jumbotron text-center mr-0 ">
        <h1 class="display-2">Welcome To GoodTimer</h1>
        <p class="lead">This is the Register page. Here you should choose what kind of membership do you want?</p>
        <hr>
        <p class="display-4">What role do you want to play?</p>
        <button class="btn btn-success btn-lg" (click)="member()" type="submit">Member</button>
        <button class="btn btn-primary btn-lg mx-2" (click)="listener()" type="submit">Listener</button>
        <button class="btn btn-danger btn-lg" (click)="therapist()" type="submit">Therapist</button>
      </div>
</body>
</html>
